In [49]:
import pandas as pd
import numpy as np
from scipy.stats import t
from scipy.stats import norm
import seaborn as sns
import matplotlib.pyplot as plt
import os
import datetime as dt
from datetime import datetime
%matplotlib inline
%config InlineBackend.figure_format = 'png'

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'Analysis_Sharing_Bike.ipynb',
 'Brazilian_Ecomerce',
 'Country_food.ipynb',
 'country_food.png',
 'Fish.csv',
 'london_merged.csv',
 'wfp_market_food_prices.csv',
 'wfp_market_food_prices2.csv']

In [3]:
df = pd.read_csv('london_merged.csv')

In [4]:
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [5]:
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [7]:
df.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

```Pyhton

['timestamp', 'minutes', 'temperature', 'temperature_feels', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season']
```

In [28]:
df.columns = ['timestamp', 'number', 'temperature', 'temperature_feels', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season']

In [29]:
df.columns

Index(['timestamp', 'number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [30]:
df

,timestamp,number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

```Python

df['date/time'] = pd.to_datetime(df['date/time'], format = '%d/%m/%Y %H:%M:%S')

df['Day of Week'] = df['date/time'].dt.weekday_name


import pandas as pd
from datetime import datetime

data = {'stuff': [0,1,2,3]}
df = pd.DataFrame(data)

df.index = pd.to_datetime(['2020-07-07 19:03:38', '2020-07-08 18:50:40',
                '2020-07-24 4:20:13', '2020-07-25 4:20:13']).strftime('%d %H:%M')
                
print(df)

          stuff
07 19:03      0
08 18:50      1
24 04:20      2
25 04:20      3
```

In [62]:
df['month'] = df.timestamp.apply(lambda x : x.strftime('%m'))

In [76]:
df.columns

Index(['timestamp', 'month', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season', 'year', 'day'],
      dtype='object')

In [77]:
column_names = ['timestamp', 'month', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

In [ ]:
df = df.reindex(columns=column_names)

In [69]:
df = df.reindex(columns=column_names)

In [74]:
df['year'] = df.timestamp.apply(lambda x : x.strftime('20%y'))

In [75]:
df['day'] = df.timestamp.apply(lambda x : x.strftime('%d'))

In [78]:
column_names = ['timestamp', 'year', 'month', 'day', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

In [79]:
df = df.reindex(columns=column_names)

In [82]:
df['day_name'] = df['timestamp'].dt.day_name()

In [83]:
df.columns

Index(['timestamp', 'year', 'month', 'day', 'number', 'temperature',
       'temperature_feels', 'hum', 'wind_speed', 'weather_code', 'is_holiday',
       'is_weekend', 'season', 'day_name'],
      dtype='object')

In [84]:
column_names = ['timestamp', 'year', 'month', 'day', 'day_name', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

In [85]:
df = df.reindex(columns=column_names)

In [88]:
column_names = ['timestamp', 'year', 'month', 'day_month', 'day_name', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

In [93]:
df.set_axis(column_names, axis='columns', inplace=True)

In [102]:
df['month'] = pd.to_datetime(df['month'], format='%m').dt.month_name().str.slice(stop=3)

In [104]:
df.to_csv('london_merged_v1.csv')

In [113]:
df = pd.read_csv('london_merged_v1.csv')

In [114]:
df = df.reset_index()

In [117]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [119]:
df.to_csv('london_merged_v1.csv', index=False)

In [120]:
df = pd.read_csv('london_merged_v1.csv')

,index,timestamp,year,month,day_month,day_name,number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,0,2015-01-04 00:00:00,2015,Jan,4,Sunday,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,1,2015-01-04 01:00:00,2015,Jan,4,Sunday,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2,2015-01-04 02:00:00,2015,Jan,4,Sunday,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,3,2015-01-04 03:00:00,2015,Jan,4,Sunday,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,4,2015-01-04 04:00:00,2015,Jan,4,Sunday,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,17409,2017-01-03 19:00:00,2017,Jan,3,Tuesday,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,17410,2017-01-03 20:00:00,2017,Jan,3,Tuesday,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,17411,2017-01-03 21:00:00,2017,Jan,3,Tuesday,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,17412,2017-01-03 22:00:00,2017,Jan,3,Tuesday,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,17413,2017-01-03 23:00:00,2017,Jan,3,Tuesday,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0