In [1]:
import pandas as pd
import numpy as np
from scipy.stats import t
from scipy.stats import norm
import seaborn as sns
import matplotlib.pyplot as plt
import os
import datetime as dt
from datetime import datetime
%matplotlib inline
%config InlineBackend.figure_format = 'png'

In [2]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'Analysis_Cleaning_Sharing_Bike.ipynb',
 'Data',
 'london_merged_v1.csv',
 'README.md']

### Overview of the DataSet

In [3]:
os.getcwd()

'D:\\Repositories\\london_bike_sharing'

In [4]:
df = pd.read_csv('.\data/london_merged.csv')

In [5]:
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [7]:
df.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

### Renaming Columns

In [8]:
df.columns = ['timestamp', 'number', 'temperature', 'temperature_feels', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season']

In [9]:
df.columns

Index(['timestamp', 'number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [10]:
pd.to_datetime(df['timestamp'])

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

### Converting to Datetime the dates

In [11]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

### Adding Year, Month, Day, to the dataset

In [12]:
df['month'] = df.timestamp.apply(lambda x : x.strftime('%m'))

In [13]:
df.columns

Index(['timestamp', 'number', 'temperature', 'temperature_feels', 'hum',
       'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season',
       'month'],
      dtype='object')

In [14]:
column_names = ['timestamp', 'month', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

* Reorganizing the columns

In [15]:
df = df.reindex(columns=column_names)

* Year, Days, Day_name, Week number

In [16]:
df['year'] = df.timestamp.apply(lambda x : x.strftime('20%y'))

In [17]:
df['day'] = df.timestamp.apply(lambda x : x.strftime('%d'))

In [18]:
column_names = ['timestamp', 'year', 'month', 'day', 'number', 'temperature', 'temperature_feels',
       'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend',
       'season']

In [19]:
df = df.reindex(columns=column_names)

In [20]:
df['day_name'] = df['timestamp'].dt.day_name()

In [21]:
df['week_number'] = df.timestamp.apply(lambda x : x.strftime('%U'))

In [22]:
df['time'] = df.timestamp.apply(lambda x : x.strftime('%H:%M'))

In [23]:
df['date'] = df.timestamp.apply(lambda x : x.strftime('%y-%m-%d'))

0        15-01-04
1        15-01-04
2        15-01-04
3        15-01-04
4        15-01-04
           ...
17409    17-01-03
17410    17-01-03
17411    17-01-03
17412    17-01-03
17413    17-01-03
Name: date, Length: 17414, dtype: object

* Reorganizing the columns again

In [27]:
df.columns

Index(['timestamp', 'year', 'month', 'day', 'number', 'temperature',
       'temperature_feels', 'hum', 'wind_speed', 'weather_code', 'is_holiday',
       'is_weekend', 'season', 'day_name', 'week_number', 'time', 'date'],
      dtype='object')

In [26]:
column_names = ['timestamp','date', 'year', 'month', 'day', 'number', 'week_number', 'temperature',
       'temperature_feels', 'hum', 'wind_speed', 'weather_code', 'is_holiday',
       'is_weekend', 'season', 'day_name', 'week_number', 'time']

In [27]:
df = df.reindex(columns=column_names)

In [28]:
df

,timestamp,year,month,day,day_name,week_number,number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,2015,01,04,Sunday,01,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,2015,01,04,Sunday,01,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,2015,01,04,Sunday,01,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,2015,01,04,Sunday,01,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,2015,01,04,Sunday,01,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,2017,01,03,Tuesday,01,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,2017,01,03,Tuesday,01,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,2017,01,03,Tuesday,01,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,2017,01,03,Tuesday,01,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,2017,01,03,Tuesday,01,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [29]:
df

,timestamp,year,month,day,day_name,week_number,number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,2015,01,04,Sunday,01,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,2015,01,04,Sunday,01,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,2015,01,04,Sunday,01,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,2015,01,04,Sunday,01,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,2015,01,04,Sunday,01,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,2017,01,03,Tuesday,01,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,2017,01,03,Tuesday,01,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,2017,01,03,Tuesday,01,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,2017,01,03,Tuesday,01,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,2017,01,03,Tuesday,01,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

* Changing number of month to name of the month

In [30]:
df['month'] = pd.to_datetime(df['month'], format='%m').dt.month_name().str.slice(stop=3)

In [31]:
df.to_csv('london_merged_v1.csv')

### Saving the updates and cleanning in a new Data Set

In [32]:
df = pd.read_csv('london_merged_v1.csv')

In [33]:
df = df.reset_index()

In [34]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [35]:
df.to_csv('london_merged_v1.csv', index=False)

In [36]:
df = pd.read_csv('london_merged_v1.csv')

In [37]:
df.sample(50)

,index,timestamp,year,month,day,day_name,week_number,number,temperature,temperature_feels,hum,wind_speed,weather_code,is_holiday,is_weekend,season
7745,7745,2015-11-24 09:00:00,2015,Nov,24,Tuesday,47,1711,10.0,8.0,85.0,17.0,7.0,0.0,0.0,2.0
1811,1811,2015-03-20 13:00:00,2015,Mar,20,Friday,11,1257,9.0,8.0,71.0,7.0,1.0,0.0,0.0,0.0
5120,5120,2015-08-05 23:00:00,2015,Aug,5,Wednesday,31,778,17.0,17.0,80.0,7.0,1.0,0.0,0.0,1.0
1303,1303,2015-02-27 09:00:00,2015,Feb,27,Friday,8,1841,5.5,2.5,70.5,14.0,1.0,0.0,0.0,3.0
11464,11464,2016-04-28 13:00:00,2016,Apr,28,Thursday,17,1272,11.0,11.0,38.0,18.5,1.0,0.0,0.0,0.0
15771,15771,2016-10-27 11:00:00,2016,Oct,27,Thursday,43,1224,11.5,11.5,85.0,16.0,2.0,0.0,0.0,2.0
12421,12421,2016-06-07 10:00:00,2016,Jun,7,Tuesday,23,1239,20.5,20.5,62.0,8.0,1.0,0.0,0.0,1.0
10021,10021,2016-02-27 18:00:00,2016,Feb,27,Saturday,8,682,5.0,1.0,57.0,19.5,4.0,0.0,1.0,3.0
13766,13766,2016-08-03 05:00:00,2016,Aug,3,Wednesday,31,141,20.0,20.0,83.0,19.5,4.0,0.0,0.0,1.0
14526,14526,2016-09-05 14:00:00,2016,Sep,5,Monday,36,1247,21.5,21.5,75.5,7.5,3.0,0.0,0.0,2.0
9854,9854,2016-02-20 19:00:00,2016,Feb,20,Saturday,7,471,12.0,12.0,88.0,35.0,7.0,0.0,1.0,3.0
12961,12961,2016-06-30 13:00:00,2016,Jun,30,Thursday,26,1633,20.0,20.0,54.5,22.0,2.0,0.0,0.0,1.0
14012,14012,2016-08-13 12:00:00,2016,Aug,13,Saturday,32,2954,21.0,21.0,64.0,26.0,3.0,0.0,1.0,1.0
14621,14621,2016-09-09 13:00:00,2016,Sep,9,Friday,36,1760,21.5,21.5,67.0,26.0,2.0,0.0,0.0,2.0
11495,11495,2016-04-29 20:00:00,2016,Apr,29,Friday,17,998,10.0,7.5,52.5,20.5,1.0,0.0,0.0,0.0
9666,9666,2016-02-12 22:00:00,2016,Feb,12,Friday,6,409,4.5,2.5,87.0,8.0,1.0,0.0,0.0,3.0
16364,16364,2016-11-21 06:00:00,2016,Nov,21,Monday,47,448,7.0,5.0,93.0,11.0,3.0,0.0,0.0,2.0
14969,14969,2016-09-24 01:00:00,2016,Sep,24,Saturday,38,434,14.0,14.0,77.0,7.0,1.0,0.0,1.0,2.0
8694,8694,2016-01-03 03:00:00,2016,Jan,3,Sunday,1,65,8.5,4.5,76.0,26.0,4.0,0.0,1.0,3.0
4797,4797,2015-07-23 12:00:00,2015,Jul,23,Thursday,29,1716,20.0,20.0,47.5,14.0,2.0,0.0,0.0,1.0
16247,16247,2016-11-16 09:00:00,2016,Nov,16,Wednesday,46,2376,13.5,13.5,74.5,30.5,2.0,0.0,0.0,2.0
14671,14671,2016-09-11 15:00:00,2016,Sep,11,Sunday,37,4055,22.0,21.0,36.0,14.0,1.0,0.0,1.0,2.0
12102,12102,2016-05-25 03:00:00,2016,May,25,Wednesday,21,45,10.0,8.0,67.0,16.0,4.0,0.0,0.0,0.0
13966,13966,2016-08-11 14:00:00,2016,Aug,11,Thursday,32,1799,22.5,22.5,51.5,23.0,2.0,0.0,0.0,1.0
10410,10410,2016-03-14 23:00:00,2016,Mar,14,Monday,11,226,5.0,3.5,81.0,7.5,1.0,0.0,0.0,0.0
16055,16055,2016-11-08 08:00:00,2016,Nov,8,Tuesday,45,4188,3.0,-0.5,81.0,13.0,3.0,0.0,0.0,2.0
11346,11346,2016-04-23 15:00:00,2016,Apr,23,Saturday,16,1902,9.5,7.0,46.5,20.5,2.0,0.0,1.0,0.0
7591,7591,2015-11-17 15:00:00,2015,Nov,17,Tuesday,46,669,16.5,16.5,82.5,33.0,7.0,0.0,0.0,2.0
15704,15704,2016-10-24 16:00:00,2016,Oct,24,Monday,43,1808,13.5,13.5,65.0,16.0,2.0,0.0,0.0,2.0
11677,11677,2016-05-07 10:00:00,2016,May,7,Saturday,18,2219,19.0,19.0,64.0,11.0,1.0,0.0,1.0,0.0
4484,4484,2015-07-10 07:00:00,2015,Jul,10,Friday,27,2394,17.5,17.5,62.0,9.0,1.0,0.0,0.0,1.0
14141,14141,2016-08-19 00:00:00,2016,Aug,19,Friday,33,389,18.0,18.0,83.0,11.0,2.0,0.0,0.0,1.0
14473,14473,2016-09-01 20:00:00,2016,Sep,1,Thursday,35,1672,20.5,20.5,62.0,17.0,1.0,0.0,0.0,2.0
1908,1908,2015-03-24 14:00:00,2015,Mar,24,Tuesday,12,832,8.5,7.0,58.0,8.5,7.0,0.0,0.0,0.0
8784,8784,2016-01-06 21:00:00,2016,Jan,6,Wednesday,1,548,6.0,4.5,93.0,6.5,2.0,0.0,0.0,3.0
1677,1677,2015-03-14 23:00:00,2015,Mar,14,Saturday,10,376,6.0,3.0,81.0,19.0,3.0,0.0,1.0,0.0
8551,8551,2015-12-28 04:00:00,2015,Dec,28,Monday,52,78,10.0,9.0,88.0,9.0,1.0,1.0,0.0,3.0
16540,16540,2016-11-28 14:00:00,2016,Nov,28,Monday,48,961,8.0,4.0,53.0,29.0,2.0,0.0,0.0,2.0
2428,2428,2015-04-15 12:00:00,2015,Apr,15,Wednesday,15,1624,23.5,22.5,32.0,17.0,1.0,0.0,0.0,0.0
234,234,2015-01-13 19:00:00,2015,Jan,13,Tuesday,2,1548,6.0,2.5,76.0,19.5,7.0,0.0,0.0,3.0
2370,2370,2015-04-13 02:00:00,2015,Apr,13,Monday,15,40,8.5,8.0,76.5,5.0,4.0,0.0,0.0,0.0
9198,9198,2016-01-24 03:00:00,2016,Jan,24,Sunday,4,162,10.5,9.0,91.0,22.0,3.0,0.0,1.0,3.0
13979,13979,2016-08-12 03:00:00,2016,Aug,12,Friday,32,93,17.0,17.0,83.0,16.0,1.0,0.0,0.0,1.0
10359,10359,2016-03-12 20:00:00,2016,Mar,12,Saturday,10,613,6.0,4.0,87.0,8.0,1.0,0.0,1.0,0.0
4108,4108,2015-06-24 15:00:00,2015,Jun,24,Wednesday,25,1775,23.5,23.0,41.0,23.0,3.0,0.0,0.0,1.0
4306,4306,2015-07-02 21:00:00,2015,Jul,2,Thursday,26,1453,21.0,21.0,64.0,19.0,1.0,0.0,0.0,1.0
8474,8474,2015-12-24 23:00:00,2015,Dec,24,Thursday,51,207,8.0,5.0,66.0,17.0,1.0,0.0,0.0,3.0
1193,1193,2015-02-22 19:00:00,2015,Feb,22,Sunday,8,285,7.0,2.0,87.0,33.0,7.0,0.0,1.0,3.0
8212,8212,2015-12-14 01:00:00,2015,Dec,14,Monday,50,69,8.5,6.5,87.0,10.0,3.0,0.0,0.0,3.0
14660,14660,2016-09-11 04:00:00,2016,Sep,11,Sunday,37,125,13.0,13.0,88.0,9.0,1.0,0.0,1.0,2.0

### Null Values

In [38]:
df.isna().sum()

index                0
timestamp            0
year                 0
month                0
day                  0
day_name             0
week_number          0
number               0
temperature          0
temperature_feels    0
hum                  0
wind_speed           0
weather_code         0
is_holiday           0
is_weekend           0
season               0
dtype: int64